<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>parlour</string>
		<key>name</key>
		<string>Parlour</string>
		<key>temperature</key>
		<string>0.0</string>
		<key>humidity</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1</integer>
		<key>iconName</key>
		<string>kitchen</string>
		<key>name</key>
		<string>Kitchen</string>
		<key>temperature</key>
		<string>0.0</string>
		<key>humidity</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>2</integer>
		<key>iconName</key>
		<string>bathroom</string>
		<key>name</key>
		<string>Bathroom</string>
		<key>temperature</key>
		<string>0.0</string>
		<key>humidity</key>
		<string>0.0</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>3</integer>
		<key>iconName</key>
		<string>bedroom</string>
		<key>name</key>
		<string>Bedroom</string>
		<key>temperature</key>
		<string>0.0</string>
		<key>humidity</key>
		<string>0.0</string>
	</dict>
</array>
</plist>
