<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>createAt</key>
		<string>Just now</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>0.png</string>
		<key>source</key>
		<string>抢红包中的iPhone 6</string>
		<key>text</key>
		<string>What the difference is between a strong pointer and weak one? A strong pointer means keep the thing this is for objects sorry.</string>
		<key>userName</key>
		<string>__bl4ckra1sond3treb233Egnahc</string>
		<key>repostCount</key>
		<integer>999</integer>
		<key>commentCount</key>
		<integer>10</integer>
		<key>likeCount</key>
		<integer>666</integer>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1</integer>
		<key>createAt</key>
		<string>2 mins ago</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>1.png</string>
		<key>source</key>
		<string>iPhone 6</string>
		<key>text</key>
		<string>👇楼下是个傻逼哈哈哈哈哈哈哈哈</string>
		<key>userName</key>
		<string>b233</string>
		<key>repostCount</key>
		<integer>89</integer>
		<key>commentCount</key>
		<integer>0</integer>
		<key>likeCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Id</key>
		<integer>2</integer>
		<key>createAt</key>
		<string>02-27</string>
		<key>mbtype</key>
		<string>girl.png</string>
		<key>profileImageUrl</key>
		<string>2.png</string>
		<key>source</key>
		<string>iPhone 5s</string>
		<key>text</key>
		<string>晒得人都要焦掉啦，不过🌻挺漂亮哒😊</string>
		<key>userName</key>
		<string>黎lily-</string>
		<key>repostCount</key>
		<integer>0</integer>
		<key>commentCount</key>
		<integer>6</integer>
		<key>likeCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Id</key>
		<integer>3</integer>
		<key>createAt</key>
		<string>02-27</string>
		<key>mbtype</key>
		<string>girl.png</string>
		<key>profileImageUrl</key>
		<string>3.png</string>
		<key>source</key>
		<string>iPhone 客户端</string>
		<key>text</key>
		<string>时至今日，我还没有谈论五十度灰，竟然总凑香港和雾霾的热闹...哎）高冷B格瞬间跌破出生价...</string>
		<key>userName</key>
		<string>StephanieYR</string>
		<key>repostCount</key>
		<integer>9</integer>
		<key>commentCount</key>
		<integer>80</integer>
		<key>likeCount</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>Id</key>
		<integer>4</integer>
		<key>createAt</key>
		<string>02-26</string>
		<key>mbtype</key>
		<string>mbtype.png</string>
		<key>profileImageUrl</key>
		<string>4.png</string>
		<key>source</key>
		<string>weibo.com</string>
		<key>text</key>
		<string>这个世界让人难过的是，我们不仅仅要和自己喜欢的人相处，还要和自己讨厌的人相处，而更多时候，这两种人还和平共处。</string>
		<key>userName</key>
		<string>hack</string>
		<key>repostCount</key>
		<integer>666</integer>
		<key>commentCount</key>
		<integer>66666</integer>
		<key>likeCount</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>createAt</key>
		<string>02-26</string>
		<key>mbtype</key>
		<string>girl.png</string>
		<key>profileImageUrl</key>
		<string>5.png</string>
		<key>source</key>
		<string>Android</string>
		<key>text</key>
		<string>you are bitch</string>
		<key>userName</key>
		<string>bitch</string>
		<key>repostCount</key>
		<integer>1</integer>
		<key>commentCount</key>
		<integer>0</integer>
		<key>likeCount</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
